.Contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    max-width: '800px';  
}
.ContactsForm{ 
    text-align: center;
}
@media (min-width: 768px) {
    .Contacts {
        width: 90%;
    }
    .ContactsForm {
        width: 100%;
    }
    .ContactsItem{
        width: 50%;
    }
}

