.marketplace-container {
    display: flex;
    align-items: flex-start; /* Выровнять содержимое по верху */
    margin-right: 2%;
    width: 99%;
  }
  
  .filter-container {
    width: 286px; /* Фиксированная ширина фильтра */
    position: sticky;
    top: 10px; /* Расстояние от верха страницы */
    flex-shrink: 0; /* Предотвратить сжатие */
    background-color: #d2d2d2; /* Ваш цвет фона */
    border-radius:  8px;
  }
  
  .cards-container {
    flex-grow: 1; /* Занимает оставшееся пространство */
    padding-left: 20px; /* Отступ от фильтра */
  }
  