.modal-content {
    color: #444; /* Text color */
    background-color: #f9f9f9; /* Background color */
    padding: 15px; /* Padding around the content */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 10px; /* Space between elements */
}

.modal-title {
    font-weight: bold; /* Bold title */
    margin-bottom: 5px; /* Space below the title */
}

.modal-value {
    margin-left: 10px; /* Space before value text */
}
.ant-modal-title{
    text-align: center;
}
.Price{
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 20px; 
}