.SearchBar{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 80%;
    margin-left: -96%;   
}
.PersonalLibrary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px; /* Adjust this as needed */
    margin: 0 auto; /* Center the entire container */
}

.Page_name {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.Filter_and_Books {
    display: flex;
    justify-content: space-between; /* Space between filter and books */
    align-items: start; /* Aligns items at the top */
    width: 100%; /* Full width to align side by side */
}

.Filter_library {
    width: 24%; /* Set desired width for the filter */
    padding: 20px; /* Padding around the filter content */
}

.all-books-section {
    /* flex-grow: 1; Takes up remaining space */
    padding: 20px; /* Padding around the books section */
    width: 17%; 
}

.popular-books-section {
    width: calc(52% - 80px); /* Calculated width minus padding */
    padding: 20px;
    margin-top: -46%;
    margin-left: 4%;
    order: 2; /* Ensures that it is between the filter and book sections */
    text-align: center;
}

.ant-carousel .slick-dots li button::after{
    color: #69B1FF;
}
@media (max-width: 768px) {
    .Filter_and_Books {
        flex-direction: column; /* Stack on small screens */
    }

    .Filter_library, .all-books-section, .popular-books-section {
        width: 100%; /* Full width on small screens */
    }
}




