@font-face {
    font-family: 'Baskervville';
    src: local('Baskervville'), url('../fonts/Baskervville/Baskervville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  