@font-face {
    font-family: 'Baskervville';
    src: local('Baskervville'), url('../fonts/Baskervville/Baskervville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

/* Apply the font to all text within the component */
.book-reading-page {
  font-family: 'Baskervville', serif;
}

/* Specific to Ant Design Typography Paragraph within the Collapse Component */
.book-reading-page .ant-collapse-content .ant-typography {
  font-family: 'Baskervville', serif;
}

