.Card_title{
    text-align: center;
    margin-bottom: 2%;
    width: 56%;
    height: 53%;
    margin-left: 22%;
}
.Card_content{
    text-align: left;
    margin-bottom: 2%;
}
.Button_sbrosit{
    width:60%;
}
.input_modal{
    margin-bottom: 2%;
}
.button_modal{
    margin-bottom: 2%;
    margin-left: 40%;
}